/* title-section */
#title{
    background-color: #ff5656;
}
.container-fluid{
    padding: 3% 15%;
}
.intro{
font-family: 'Montserrat-black';
font-size: 3.5rem;
line-height: 1.5;
color: #fff;
padding-left: 40px;
}
#navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 35px;
}
#navbar{
    padding: 0 2rem 4rem;
}
.title-img{
    width:80%;
    height: 75%;
    padding-left: 5px;
    padding-top: 10px;
    transform: rotate(5deg);
}
#btn-1{
    margin: 3% 7%;
}
.nav-item{
    padding-right: 2rem;
    font-size: 1rem;
    font-family: 'Montserrat-thin';
}
.nav-link{
    font-family:'Montserrat-thin';
    font-size: 1.2rem;
}
#btn-link{
    text-decoration: none;
    color: #f8f9fa;
}

/* poem-section */
.poem-img{
    width: 70%;
    padding-left: 80px;
    padding-top: 40px;
}
.poem-intro{
    font-family: 'Montserrat-black';
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    padding-left: 28%;
}
#poem{
    background-color: #fff;
}

#btn{
    margin-left: 10%;
    width: 65%;
    margin-top: 16%;
}
img{
    width: 70%;
    height: 80%;
    margin-left: 14%;
}

/* features-section */
.feature-box{
    text-align: center;
    padding: 7% 10%;
}
.icon{
    color: #ff5656;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #FF5677;
}
h3{
    font-family: 'Montserrat-bold';
}
p{
    margin: 14%;
    color: #343a40;
}

/* .testimonials-section */
#testimonials{
    background-color: #ff5656;
    text-align: center;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.carousel-item h2{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
    font-size: 3rem;
}
.testimonials-image{
    width: 15%;
    border-radius: 100%;
    margin: 15px;
}

/* work-section */
#work{
    background-color: #ff5656;
    padding: 5% 6%;
}
.work-img{
    width: 95%;
    margin: 5%;
}
.work-heading{
    font-size: 3rem;
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

/* footer-section */
#footer{
    padding: 5% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}

/* media-query */
@media (max-width:1002px) {
    .title-img{
        transform: rotate(0);
        margin-top: 3%;
        margin-left: 3%;
    }
    #title{
        text-align: center;
    }
    .carousel-item h2{
        font-size: 1.5rem;
    }
    .carousel-item{
        padding: 9% 18%;
    }
    em{
        font-size: 1rem;
    }
    .testimonials-image{
        width: 20%;
    }
    .poem-intro{
        margin-left: 10px;
        font-size: 2.5rem;
    }
    .poem-img{
        padding-left: 50px;
    }
    .work-img{
        width: 85%;
    }
    #btn{
        width: 85%;
        margin: 4% 7%;
        text-align: center;
    }
    img{
        width: 60%;
        margin: 4% 20%;
    }
}